<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Cards Cards_refresh" th:fragment="pool">

    <div class="Card" th:each="book : ${category}">
        <a class="Card-picture" th:href="@{'/books/' + ${book.id}}">
            <img th:src="${book.image}" alt="card.jpg"/>
        </a>
            <!--a class="Card-status" title="Отложена">
                <img src="/assets/img/icons/heart.svg" alt="heart.svg"/>
            </a-->
            <!--a class="Card-status" title="В корзине">
                <img src="/assets/img/icons/shopping-basket.svg" alt="shopping-basket.svg"/>
            </a-->
           <!-- <div class="Card-sale">
                &lt;!&ndash;th:if="${#numbers.formatDecimal(book.priceOld,2,2) == #numbers.formatDecimal(book.price, 2,2)}">&ndash;&gt;
                30% скидка
            </div>-->
           <!-- <div class="Card-ribbon">
                <span class="Card-ribbonText">Бестселлер</span>
            </div>-->
           <!-- <a class="Card-status" title="Куплена">
                <img src="/assets/img/icons/check.svg" alt="check.svg"/>
            </a>-->
        <div class="Card-content">
            <strong class="Card-title"><a th:href="@{'/books/' + ${book.id}}" th:text="${book.title}"></a></strong>
            <div class="Card-description" th:text="${book.author.firstName+' '+book.author.lastName}"></div>
            <div class="Card-cost"><span class="Card-price" th:text="'$' + ${book.price}">₽</span></div>
            <div class="Card-cost"><span class="Card-priceOld" th:text="'$' + ${book.priceOld}">₽</span></div>
        </div>
    </div>
    <div class="Cards-footer Cards-footer_center">
        <a class="btn btn_primary" href="#"
           th:attr="data-refreshshow=${refreshShow}, data-refreshid=${refreshId}"
           data-refreshoffset="0" data-refreshlimit="6">Показать еще</a>
    </div>
</div>
</html>