<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Tags" id="tags" th:fragment="cloud">
    <div class="Tag" th:each="tag:${allTags}">
        <div class="Tag"
                th:classappend="${(tag.books.size()<5 ? 'Tag_sm' : '') + (tag.books.size()>10 ? 'Tag_lg' : '') + (tag.books.size()==5 ? 'Tag_md' : '')}">
            <a th:href="@{'/books/tags/' + ${tag.id}}"
               th:text="${tag.tagName}">современная литература
            </a>
        </div>
    </div>
</div>
</html>