<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #root_container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books {
            width: 50%;
            border-collapse: collapse;
        }

        table {
            margin: 25px;
        }

        th {
            text-align: left;
        }

        th, td {
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div id="root_container">
    <h3>Add new Book</h3>
    <form method="post" th:action="@{/books/save}" th:object="${book}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                </td>
                <td>
                    <input type="text" placeholder="book_title" th:field="*{title}">
                </td>
                <td>
                    <input type="text" placeholder="size (pages)" th:field="*{size}">
                </td>
                <td>
                    <input type="submit" value="save">
                </td>
            </tr>
        </table>
    </form>
    <hr>
    <div>
        <h3>Remove Book</h3>
        <form method="post" th:action="@{/books/remove}">
            <table>
                <tr>
                    <input type="radio" th:name="bookField" value="id" checked="checked">id<Br>
                    <input type="radio" th:name="bookField" value="author">author<Br>
                    <input type="radio" th:name="bookField" value="title">title<Br>
                    <input type="radio" th:name="bookField" value="size">size<Br>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="field value to remove" th:name="bookFieldValue">
                    </td>
                    <td>
                        <input type="submit" value="remove">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <hr>
    <div>
        <h3>Filter by</h3>
        <form method="post" th:action="@{/books/filter}">
            <table>
                <tr>
                    <input type="radio" th:name="bookField" value="author">author<Br>
                    <input type="radio" th:name="bookField" value="title">title<Br>
                    <input type="radio" th:name="bookField" value="size">size<Br>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="search.." th:name="bookFieldValue">
                    </td>
                    <td>
                        <input type="submit" value="filter">
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <table id="books" style="margin-bottom: 50px">
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>size</th>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.size}"></td>
        </tr>
    </table>
</div>
</body>
</html>