<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta charset="UTF-8">
    <style>
        #registration_form {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .registration_item {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div>
    <p>BooksShelf page</p>
    <a th:href="@{/books/shelf}">BooksShelf</a>
</div>
<div id="registration_form">
    <h3>Registration</h3>
    <form method="post" th:action="@{/register}" th:object="${user}">
        <img class="registration_item" th:src="@{/images/book_icon.png}">
        <br>
        <input class="registration_item" type="text" placeholder="enter username" th:field="*{username}">
        <br>
        <input class="registration_item" type="password" placeholder="password" th:field="*{password}">
        <br>
        <input class="registration_item" type="submit" value="register">
    </form>
</div>
</body>
</html>
